@page "/ConsultaProduto"
@using System.Net.Http.Json
@inject HttpClient Http
@using Newtonsoft.Json
@using ProdutosApp.Domain.Dtos
@using ProjetoFinalCotiWeb.Models

<div class="card m-3">
    <div class="card-body">

        <h4>Consulta de produto</h4>

        <div class="mb-3">
            <h5 class="text-success">@mensagemSucesso</h5>
            <h5 class="text-danger">@mensagemErro</h5>
        </div>

        @* Formulário *@
        <EditForm Model="@model" OnValidSubmit="@OnSubmit">

            @* Ativar as validações do DataAnnotations *@
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label>Identificador:</label>
                <InputNumber class="form-control" @bind-Value="model.Id" />
                <span class="text-danger">
                    <ValidationMessage For="@(() => model.Id)" />
                </span>
            </div>

            <div class="mb-3 d-grid">
                <input type="submit" class="btn btn-primary" value="Consultar" />
            </div>

        </EditForm>

        @* Exibir os dados do produto, se disponível *@
        @if (produto != null)
        {
            <div class="mt-3">
                <h5>Detalhes do Produto</h5>
                <p><strong>ID:</strong> @produto.Id</p>
                <p><strong>Nome:</strong> @produto.Nome</p>
                <p><strong>Preço:</strong> @produto.Preco</p>
                <p><strong>Quantidade:</strong> @produto.Quantidade</p>
                <p><strong>Total:</strong> @produto.Total</p> 

                <h5>Detalhes do Fornecedor</h5>
                <p><strong>ID:</strong> @produto.Fornecedor?.Id</p>
                <p><strong>Nome:</strong> @produto.Fornecedor?.Nome</p>
            </div>
        }

    </div>
</div>

@code {
    private ProdutoViewModel model = new ProdutoViewModel();
    private ProdutosResponseDto produto;
    private string? mensagemSucesso;
    private string? mensagemErro;

    protected async Task OnSubmit()
    {
        try
        {
            mensagemSucesso = string.Empty;
            mensagemErro = string.Empty;

            var response = await Http.GetAsync($"api/Produtos/consultaProduto/{model.Id}");
            var content = await response.Content.ReadAsStringAsync();

            if (response.IsSuccessStatusCode)
            {
                produto = JsonConvert.DeserializeObject<ProdutosResponseDto>(content);
                mensagemSucesso = "Produto encontrado com sucesso.";
                model = new ProdutoViewModel();
            }
            else
            {
                var error = JsonConvert.DeserializeObject<ErrorViewModel>(content);
                mensagemErro = error.Message;
                produto = null;
            }
        }
        catch (Exception e)
        {
            mensagemErro = e.Message;
            produto = null;
        }
    }
}
